@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'pokemon-hollow';
  src: url('/fonts/PokemonHollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pokemon-solid';
  src: url('/fonts/PokemonSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-merriweather);
}
